/*Importanções*/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

/*Universal*/
h2, h3{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
body{
	background: #F2E4E4;
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}
.center{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.color-site{
	background: #C06306 !important;
}

/* Editando o menu */
.active{
	color: #C06306 !important;
}
.navbar-brand{
	font-size: 1.5em;
	color: #C06306 !important;
}
.bg-logo{
	 background-image: linear-gradient(to right, black , grey);
}
.text-tipo{
	color: grey;
}
.nav-item{
	font-size: 0.9em;
	text-transform: uppercase;
}
.color-menu{
	background: white;
}
/*Editando a capa*/
#capa{
	background: url("../img/capatablet.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	min-height: 650px;
}
.hr{
	border: 2px solid white;
	max-width: 45px;
	border-radius: 100px;
	margin: 15px auto;
}
.faixa-preta{
	background: rgba(1, 1, 1, 0.4);
	padding: 15px 0px 15px 0px;
}
.title{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-size: 4rem;
	color: white;
	text-shadow: 4px 1px 2px black;
	text-transform: uppercase;
	font-weight: bolder;
}

.desc{
	font-size: 1.15rem;
	text-align: center;
	color: white;
	text-shadow: 1px 2px 1px black;
}

.button-baixar{
	padding: 8px 60px 8px 60px;
	border-radius: 500px;
}
/*Conteudo inicial*/
#conteudo-inicial{
	padding: 8rem 0;
	background: #309D32;
}
.bg-cor{
	background: #C06306;
	border-radius: 0px 20px 20px 0px;
	padding: 20px 15px; 
}

.title-conteudo-inicial{
	color: white;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	font-weight: bolder;
	font-size: 1.6em;
	margin-left: 100px;
}
.desc-conteudo-inicial{
	color: white;
	font-size: 1.1em;
	margin-left: 100px;
	text-indent: 50px;
	text-align: justify;
}
.store-icon{
	height: 90px;
}


.dashed{
	border-bottom: 1px dashed white;
}

.cell{
	width: 100%;
}
/*inicio conteudo*/

.sobreapp{
	font-size: 1em;
}


/*Editando o carousel*/
.faixa-preta-carousel{
	background: rgba(1, 1, 1, 0.9);
}

.carousel-caption{
	right: 0; left: 0;
}


.img-carousel-1{
	background: url("../img/carousel1.jpg");
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}
.img-carousel-2{
	background: url("../img/carousel2.jpg");
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}
.img-carousel-3{
	background: url("../img/carousel3.jpg");
	height: 600px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover
}



/*Editando o sobre*/

.icons-sobre{
	position: relative;
	height: 128px;
	width: 128px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.faixa-preta-sobre{
	background: rgba(1, 1, 1, 0.1);
	width: 100%;
}

.sobre-op:hover .faixa-preta-sobre {
	background: rgba(1, 1, 1, 0.3);
	transition: 0.4s;
}

.bg-sobre-2{
	background: #309D32;
	padding: 20px 20px;
}

.bg-sobre-3{
	background: #C06306;
	padding: 20px 20px;
}

/*editando contato*/
.bg-contato{
	background: #309D32;
}

.icon-whatsapp{
	height: 150px;
}
.contato{
	border-radius: 70px;
	padding: 20px 0px 20px 0px;
}

/*editando o rodape*/
.copy{
	font-size: 20px;
	font-style: italic;
}

.icons-sociais{
	width: 120px;
	position: relative;
	display: block;
	margin: 0 auto;
}

.social-media{
	padding: 5px 8px;
}